<div>LOGIN</div>

<form class="login-form" #loginForm="ngForm" (ngSubmit)="logUser(loginUser)">
  <mat-form-field class="example-full-width">
    <input matInput
           required
           [(ngModel)]="loginUser.email"
           name="email"
           placeholder="test@email.com">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput
           placeholder="Enter your password"
           name="password"
           required
           [(ngModel)]="loginUser.password"
           [type]="hide ? 'password' : 'text'">
  </mat-form-field><br>
  <button mat-raised-button color="accent" [disabled]="loginForm.invalid">Login</button>
</form>
<a mat-raised-button routerLink="/auth/register">If you dont have acc</a>
